@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mateusz Nowosadko</h1>
    <p>Zadanie rekrutacyjne Veloce 27.10.2023</p>
    <p>Wszystkie wymagania wraz z dodatkowymi oraz opcjonalnymi zostały zrealizowane.</p>
</div>
